<h1>Borgers!</h1>

<h2>Borgers that have yet to be served</h2>

<ul>
  {{#each borgers}}
    {{#unless devoured}}
      {{> borgers/borger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Borgers that are going to be devoured</h2>
<ul>
  {{#each borgers}}
    {{#if devoured}}
      {{> borgers/borger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Borger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="brgr">Borger Name:</label>
    <input type="text" id="brgr" name="name">
  </div>
  <button type="submit">Add Borger</button>
</form>