  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #burger-header{
    background-color: #A8E008;
  }
  #order-burger {
    background-color: #792B1C;
  }

  #serve-burger {
    background-color: #FFDD42;
    padding-bottom: 1em;
  }

  #eat-burger {
    background-color: #EA0802;
  }

  body {
    background-color: #FFCD98;
  }

  .btn {
    background-color: #E7E7E3;
    color: black;
  }

  li {
    padding: .1em;
  }
